<div class="section-blue panel-user">
  <div class="row">
    <div class="col-md-12">
      <p class="pull-left">Bem vindo: <%= current_user.name %></p>
      <a data-method="delete" href="<%= destroy_user_session_path %>" rel="nofollow" class="pull-right"><p>Sair</p></a>
      <br>
      <br>
      <span>Para submeter seus trabalhos clique em "Nova proposta"</span><br>
    </div>
  </div>
</div>