<section class="section-title registration">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Category:</strong>
      <%= @proposal.category %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @proposal.user %>
    </p>
  </div>
</section>