/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require font-icon
 *= require parallax
 *= require_self
 */


/* === CONTAINERS === */
body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

p {
    font-size: 1.8rem;
}

main {
    margin-top: 55px;
}
/* === END CONTAINERS === */

/* === SECTIONS ===*/
/* === BANNER ===*/
.index-banner {
    background: url('/images/banner.jpg') no-repeat center top;
    background-size: cover;
    width: 100%;
    padding: 0;
    height: 60vh;
    text-align: center;
}
.index-honored{
    background: url('/images/homenageado-mobile.jpg') no-repeat center bottom;
    background-size: cover;
    width: 100%;
    padding: 0;
    height: 50vh;
    text-align: center;
}
@media(min-width: 320px){
    .index-honored{
        height: 95vh;
    }
}
@media(min-width: 992px){
    .index-honored{
        height: 50vh;
    }
    .index-honored small {
        font-size: 1em;
    }
}
@media(min-width: 1200px){
    .index-honored{
        height: 45vh;
    }
    .index-honored small {
        font-size: 1.2em;
    }
}
.index-honored h2, .index-honored-mobile h2 {
    font-weight: 900;
    font-style: italic;
    border-bottom: 4px solid #427ec3;
    padding-bottom: 4px;
    display: inline-flex;
    font-size: 3rem;
    margin-bottom: 20px;
}

.banner-shadow {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 60vh;
}
.banner-content {
    margin-top: 10%;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: relative;
    display: inline-table;
}
.btn-banner:before {
    display: inline-block !important;
}
.btn-banner {
    background-color: #42a531;
    border: none;
    border-radius: 6px;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 13px 30px;
    text-align: center;
    position: relative;
    text-decoration: none;
    bottom: 0 !important;

}
/* === END BANNER ===*/
.one-page-section {
    padding: 70px 0;
}

.section-title h1 {
    font-weight: 900;
    font-style: italic;
    padding-bottom: 4px;
    display: inline-flex;
    font-size: 51px;
    margin-bottom: 50px;
    border-bottom: 4px solid #427ec3;
}
.section-title h1.green{
    border-bottom: 4px solid #42A531;
}

.section-title i {
    font-size: 6.5rem;
    display: inline-block;
    vertical-align: middle;
}


.one-page-section h2 {
    font-weight: 900;
    font-style: italic;
    border-bottom: 4px solid #427ec3;
    padding-bottom: 4px;
    display: inline-flex;
    font-size: 35px;
    margin-bottom: 20px;
}

.one-page-section p {
    margin-bottom: 20px;
}
.section-teal {
    background-color: #008080;
    color: #f1f1f2;
}

.section-grey {
    background-color: #f1f1f2;
    color: #47494d;;
}
.section-blue {
    background-color: #007DC3;
    color: #F2F2F2;
}
.p-bold{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}
.one-page-section h2.semi-bold {
    font-style: normal;
    border-bottom: none;
    padding-bottom: 4px;
    display: inline-block;
    font-size: 35px;
    margin: 0px;
}
.space-correction-who-does{
    padding-bottom: 20px;
}
.books{
    background: url('/images/bg-book.jpg') no-repeat center top;
    background-size: cover;
    width: 100%;
    padding: 0;
    height: 60vh;
    text-align: center;
}
.normalize{
    font-size: 25px !important;
}
/* === END SECTIONS ===*/



/* === NAVS === */
#main-nav {
    /*background-color: #f1f1f2;*/
    background-color: #fff;
    border-color: #9ea6ad;
    border-width: 0px 0 2px;
    min-height: 90px;
}

.navbar-header {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #47494d;
}
#menu {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20.5px;
}

.navbar-default .navbar-nav>li>a {
    color: #47494d;
}

.navbar-default .navbar-nav>li>a>i {
    font-size: 20px;
    vertical-align: text-top;
}
/* === END NAVS === */



/* === SECTION CATEGORIES === */
.categories i{
    color: #007DC3;
    font-size: 10em;
}
.categories span{
    font-weight: 900;
    color: #9EA6AD;
    position: relative;
    top: -35px;
}
.vertical-bar{
    position: relative;
    left: 50%;
}
/* === SECTION CATEGORIES === */

/* === FORM === */
.form-control:focus {
    border-color: #42A531;
}
.btn-white{
    background: #F2F2F2;
    color: #42A531;
    border-radius: 3px;
}
.btn-white:hover{
    color: #42A531;
    border-bottom: 1px solid #42A531;
}
/* === END FORM === */
