/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require font-icon
 *= require parallax
 *= require_self
 */


/* === CONTAINERS === */
body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

p {
    font-size: 1.8rem;
}

main {
    margin-top: 55px;
}
/* === END CONTAINERS === */

/* === SECTIONS ===*/
/* === BANNER ===*/
.index-banner {
    background: url('/images/banner.jpg') no-repeat center top;
    background-size: cover;
    width: 100%;
    padding: 0;
    height: 60vh;
    text-align: center;
}
.index-honored{
    background: url('/images/homenageado.jpg') no-repeat center top;
    background-size: cover;
    width: 100%;
    padding: 0;
    height: 60vh;
    text-align: center;
}
.index-honored-mobile{
    background: url('/images/homenageado-mobile.jpg') no-repeat center top;
    background-size: cover;
    width: 100%;
    padding: 0;
    height: 60vh;
    text-align: center;
}
.index-honored h2, .index-honored-mobile h2 {
    font-weight: 900;
    font-style: italic;
    border-bottom: 4px solid #427ec3;
    padding-bottom: 4px;
    display: inline-flex;
    font-size: 3rem;
    margin-bottom: 20px;
}
.index-honored small {
    font-size: 1em;
}
.index-honored-mobile small{
    font-size: 0.7em;
}
.honored-text{
    padding-top: 5rem;
}

.banner-shadow {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 60vh;
}
.banner-content {
    margin-top: 10%;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: relative;
    display: inline-table;
}
.btn-banner:before {
    display: inline-block !important;
}
.btn-banner {
    background-color: #42a531;
    border: none;
    border-radius: 6px;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 13px 30px;
    text-align: center;
    position: relative;
    text-decoration: none;
    bottom: 0 !important;

}
/* === END BANNER ===*/
.one-page-section {
    padding: 70px 0;
}

.section-title h1 {
    font-weight: 900;
    font-style: italic;
    padding-bottom: 4px;
    display: inline-flex;
    font-size: 51px;
    margin-bottom: 50px;
    border-bottom: 4px solid #427ec3;
}

.section-title i {
    font-size: 6.5rem;
    display: inline-block;
    vertical-align: middle;
}


.one-page-section h2 {
    font-weight: 900;
    font-style: italic;
    border-bottom: 4px solid #427ec3;
    padding-bottom: 4px;
    display: inline-flex;
    font-size: 35px;
    margin-bottom: 20px;
}

.one-page-section p {
    margin-bottom: 20px;
}
.section-teal {
    background-color: #008080;
    color: #f1f1f2;
}

.section-grey {
    background-color: #f1f1f2;
    color: #47494d;;
}
.p-bold{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}
.one-page-section h2.semi-bold {
    font-style: normal;
    border-bottom: none;
    padding-bottom: 4px;
    display: inline-block;
    font-size: 35px;
    margin: 0px;
}
/* === END SECTIONS ===*/



/* === NAVS === */
#main-nav {
    /*background-color: #f1f1f2;*/
    background-color: #fff;
    border-color: #9ea6ad;
    border-width: 0px 0 2px;
    min-height: 90px;
}

.navbar-header {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #47494d;
}
#menu {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20.5px;
}

.navbar-default .navbar-nav>li>a {
    color: #47494d;
}

.navbar-default .navbar-nav>li>a>i {
    font-size: 20px;
    vertical-align: text-top;
}
/* === END NAVS === */



/* === SECTION CATEGORIES === */
.category-circle {
    background-color: #008080;
    text-align: center;
    width: 220px;
    height: 220px;
    position: relative;
    padding-top: 40px;
    color: #f1f1f2;
}

.category-circle i {
   font-size: 100px;
}

.category-circle span {
    text-align: left;
    position: absolute;
    top: 65%;
    left: 20%;
}

.category-circle .cine i {

}
/* === SECTION CATEGORIES === */

