/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require font-icon
 *= require parallax
 *= require_self
 */


/* === CONTAINERS === */
body {
    font-family: 'Raleway', sans-serif;
}

main {
    margin-top: 55px;
}
/* === END CONTAINERS === */

/* === SECTIONS ===*/
.one-page-section {

}

.one-page-section h1 {
    font-weight: bold;
    font-style: italic;
}

.section-teal {
    background-color: #008080;
    color: #f1f1f2;
}

.section-grey {
    background-color: #f1f1f2;
    color: #008080;
}
/* === END SECTIONS ===*/



/* === NAVS === */
#main-nav {
    background-color: #f1f1f2;
}

.navbar-header {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #008080;
}
#menu {
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
    color: #008080;
}

.navbar-default .navbar-nav>li>a>i {
    font-size: 20px;
    vertical-align: text-top;
}
/* === END NAVS === */



/* === TITLES ===*/
section h1 {

}
/* === END TITLES ===*/