<section class="one-page-section section-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <h1>Categorias</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <div class="col-md-3">
          <div class="img-circle category-circle">
            <i class="icon icon-jornalismo-impresso"></i>
            <span>Jornalismo Impresso</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>