<section class="one-page-section section-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <h1>Categorias</h1>
      </div>
    </div>

    <!-- ROW CATEGIORIES 1-->
    <div class="row">
      <div class="col-md-11">

        <div class="col-md-3">
          <div class="img-circle category-circle">
            <i class="icon icon-jornalismo-impresso"></i>
            <span>Jornalismo Impresso</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="img-circle category-circle cine">
            <i class="icon icon-cinematografico"></i>
            <span>Reportagem de TV e Cinematográfica</span>
          </div>
        </div>

        <div class="col-md-3">
          <div class="img-circle category-circle">
            <i class="icon icon-radio"></i>
            <span>Rádio Jornalismo</span>
          </div>
        </div>

      </div>
    </div>
    <!-- END ROW CATEGORIES 1-->
    <br>
    <!-- ROW CATEGIORIES 2-->
    <div class="row">
      <div class="col-md-11 col-md-offset-3">

        <div class="col-md-3 col-xs-12">
          <div class="img-circle category-circle">
            <i class="icon icon-web"></i>
            <span>Web Jornalismo</span>
          </div>
        </div>

        <div class="col-md-3 col-xs-12">
          <div class="img-circle category-circle">
            <i class="icon icon-estudante"></i>
            <span>Estudante</span>
          </div>
        </div>

        <div class="col-md-3 col-xs-12">
          <div class="img-circle category-circle">
            <i class="icon icon-especial"></i>
            <span>Reportagem Especial do Bicentenário de Alagoas</span>
          </div>
        </div>

      </div>
    </div>
    <!-- END ROW CATEGORIES 1-->
  </div>
</section>