<section class="one-page-section section-teal">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <h1>Premiação</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-11">
        <div class="col-sm-8 col-sm-push-2 col-md-push-0 col-md-3 text-center">
          <img src="/images/1-lugar.svg" alt="1° lugar na categoria especial do bicentenário de alagoas" class="img-responsive">
        <p class="p-bold">Categoria Especial do Bicentenário de Alagoas</p>
        <h2 class="semi-bold">R$4000,00</h2><br>
        <small>e troféu</small>
        </div>
        <div class="col-sm-8 col-sm-push-2 col-md-3 col-md-push-1 text-center">
          <img src="/images/1-lugar.svg" alt="1° lugar na categoria Reportagem de TV" class="img-responsive">
        <p class="p-bold">Reportagem de TV</p><br>
        <h2 class="semi-bold">R$4000,00</h2><br>
        <small>e troféu</small>
        </div>
        <div class="col-sm-8 col-sm-push-2 col-md-3 col-md-push-2 text-center">
          <img src="/images/1-lugar.svg" alt="1° lugar nas demais categorias" class="img-responsive">
        <p class="p-bold">Demais categorias</p><br>
        <h2 class="semi-bold">R$3000,00</h2><br>
        <small>e troféu</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-11">
        <div class="col-sm-8 col-sm-push-2 col-md-offset-1 col-md-push-0 col-md-3 text-center">
          <img src="/images/2-lugar.svg" alt="2° lugar nas categorias" class="img-responsive">
        <h2 class="semi-bold">R$2500,00</h2><br>
        <small>e troféu</small>
        </div>
        <div class="col-sm-8 col-sm-push-2 col-md-3 col-md-push-1 text-center">
          <img src="/images/3-lugar.svg" alt="3° lugar nas categorias" class="img-responsive">
        <h2 class="semi-bold">R$1500,00</h2><br>
        <small>e troféu</small>
        </div>
        <div class="col-sm-8 col-sm-push-2 col-md-3 col-md-push-2 text-center">
          <img src="/images/1-lugar.svg" alt="1° lugar na categoria estudante" class="img-responsive">
        <p class="p-bold">Estudante</p>
        <h2 class="semi-bold">R$1000,00</h2><br>
        <small>e troféu</small>
        </div>
      </div>
    </div>

  </div>
</section>