<section class="one-page-section section-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="section-title">
          <h1 class="green">Informações</h1>
        </div>
      </div>
      <div class="col-md-2 hidden-sm hidden-xs">

      </div>
      <div class="col-md-5">
        <div class="section-title">
          <h1 class="green">Contato</h1>
        </div>
      </div>
    </div>
  </div>

</section>