<section class="one-page-section section-grey" id="training">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <div class="section-title">
          <h1>Capacitação</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11 col-md-offset-1 text-justify">
          <p>
            Os cursos de Capacitação em Jornalismo Científico têm o intuito de aprimorar a prática de produção de notícias sobre Ciência, Tecnologia e Inovação entre os profissionais de comunicação de Alagoas. O objetivo destes cursos é promover a participação dos profissionais de jornalismo dos mais diversos veículos de comunicação e contribuir para a melhoria na qualidade da divulgação científica no Estado.
          </p>
           <p>
             Promover um curso voltado para Jornalismo Científico é uma maneira de valorizar uma área pouco reconhecida na produção jornalística, mas de grande relevância. O Jornalismo Científico não se preocupa apenas com a divulgação científica, mas procurar, através da sua produção, trazer reflexões e discussões sobre ciência, tecnologia e sua relação com a sociedade.
           </p>
      </div>
    </div>
    <br>
    <hr>
    <br>
      <div class="col-md-11 col-md-offset-1 text-justify">

        <div class="row">
          <div class="pull-left">
            <time datetime="2014-11-17" class="icon">
              <em>Sabado</em>
              <strong>Nov/2016</strong>
              <span>26</span>
            </time>
          </div>
          <div class="col-sm-10">
            <p><a href="/capacitacao/1"><span>1° Capacitação em Jornalismo Científico</span></a> <br>
            <span>Local: Kinoplex - Maceió Shopping</span></p>
          </div>
        </div>
        <div class="row">
          <div class="pull-left">
            <time datetime="2014-11-17" class="icon">
              <strong>Breve</strong>
              <span>2017</span>
            </time>
          </div>
          <div class="col-sm-10">
            <p><a href="#"><span>2° Capacitação em Jornalismo Científico</span></a> <br>
              <span>Local: Kinoplex - Maceió Shopping</span></p>
          </div>
        </div>
      </div>
  </div>
</section>