<section class="section-grey" id="categories">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <div class="section-title">
          <h1>Categorias</h1>
        </div>
      </div>
    </div>
    <div class="categories">

    <!-- ROW CATEGIORIES 1-->
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-3 text-center">
          <i class="icon icon-jornalismo-impresso"></i><br>
          <span>Jornalismo Impresso / Texto</span>
        </div>
        <div class="col-sm-3 text-center">
          <i class="icon icon-cinematografico"></i><br>
          <span>Reportagem de TV</span>
        </div>
        <div class="col-sm-3 text-center">
          <i class="icon icon-radio"></i><br>
          <span>Rádio Jornalismo</span>
        </div>
        <div class="col-sm-3 text-center">
          <i class="icon icon-web"></i><br>
          <span>Web Jornalismo</span>
        </div>
      </div>
    </div>
    <!-- END ROW CATEGORIES 1-->
    <br>
    <!-- ROW CATEGIORIES 2-->
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-3 text-center">
          <i class="icon icon-jornalismo-impresso"></i><br>
          <span>Jornalismo Impresso / imagem</span>
        </div>
        <div class="col-sm-3 text-center">
          <i class="icon icon-cinematografico"></i><br>
          <span>Reportagem Cinematográfica</span>
        </div>
        <div class="col-sm-3 text-center">
          <i class="icon icon-estudante"></i><br>
          <span>Estudante</span>
        </div>
        <div class="col-sm-3 text-center">
          <i class="icon icon-especial"></i><br>
          <span>Reportagem Especial do <br> Bicentenário de Alagoas</span>
        </div>
      </div>
    </div>
    <!-- END ROW CATEGORIES 1-->
  </div>
    </div>

</section>