<section class="index-honored container-fluid hidden-xs hidden-sm">
    <div class="row">
      <div class="col-md-offset-4 col-md-8 text-left honored-text">
        <h2>O Homenageado</h2>
        <br>
        <small>
          O Prêmio homenageará um dos ícones do Jornalismo e Comunicação no Brasil: José Marques de Melo. Nascido em Palmeira dos Índios (Alagoas),
          é jornalista, professor universitário, pesquisador científico e consultor acadêmico. Foi o primeiro Doutor em Jornalismo titulado por universidade
          brasileira (1973) e Docente-fundador da Escola de Comunicações e Artes da Universidade de São Paulo (ECA-USP).
        </small>
      </div>
      <div class="col-md-offset-5 col-md-7 col-lg-offset-4 col-lg-offset-8 text-left ">
        <small>
          Atualmente é docente do Programa de Pós-Graduação em Comunicação Social da Universidade Metodista de São Paulo, sendo Titular da Cátedra Unesco de Comunicação para o Desenvolvimento
          Regional e Diretor-responsável da Revista Brasileira de Ciências da Comunicação. O homenageado é autor de dezenas de livros de jornalismo e
          comunicação que se tornaram referência para a área.
        </small>
      </div>
    </div>
</section>
<section class="index-honored-mobile container-fluid hidden-md hidden-lg">
  <div class="row">
    <div class="col-xs-11 text-left honored-text">
      <h2>O Homenageado</h2>
      <br>
      <small>
        O Prêmio homenageará um dos ícones do Jornalismo e Comunicação no Brasil: José Marques de Melo. Nascido em Palmeira dos Índios (Alagoas),
        é jornalista, professor universitário, pesquisador científico e consultor acadêmico. Foi o primeiro Doutor em Jornalismo titulado por universidade
        brasileira (1973) e Docente-fundador da Escola de Comunicações e Artes da Universidade de São Paulo (ECA-USP).
      </small>
    </div>
    <div class="col-xs-10 text-left ">
      <small>
        Atualmente é docente do Programa de Pós-Graduação em Comunicação Social da Universidade Metodista de São Paulo, sendo Titular da Cátedra Unesco de Comunicação para o Desenvolvimento
        Regional e Diretor-responsável da Revista Brasileira de Ciências da Comunicação. O homenageado é autor de dezenas de livros de jornalismo e
        comunicação que se tornaram referência para a área.
      </small>
    </div>
  </div>
</section>