<section class="section-honored">
  <div class="container">
    <div class="col-xs-12 col-md-7 honored-text">
      <h2>O Homenageado</h2>
      <br>
      <p>
        O Prêmio homenageará um dos ícones do Jornalismo e Comunicação no Brasil: José Marques de Melo. Nascido em Palmeira dos Índios (Alagoas),
        é jornalista, professor universitário, pesquisador científico e consultor acadêmico. Foi o primeiro Doutor em Jornalismo titulado por universidade
        brasileira (1973) e Docente-fundador da Escola de Comunicações e Artes da Universidade de São Paulo (ECA-USP).
      </p>
      <p>
        Atualmente é docente do Programa de Pós-Graduação em Comunicação Social da Universidade Metodista de São Paulo, sendo Titular da Cátedra Unesco de Comunicação para o Desenvolvimento
        Regional e Diretor-responsável da Revista Brasileira de Ciências da Comunicação. O homenageado é autor de dezenas de livros de jornalismo e
        comunicação que se tornaram referência para a área.
      </p>
    </div>

    <div class="brief-image col-xs-12 col-md-5">
      <img src="/images/brief-honored.jpg" class="img-responsive" alt="Brief Honored">
    </div>
  </div>
</section>