<section class="one-page-section section-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <div class="section-title">
          <i class="icon icon-premio"></i>
          <h1>O Prêmio</h1>
        </div>


        <p>
          O Prêmio de Jornalismo é uma iniciativa da Secretaria de Estado da Ciência, Tecnologia e Inovação e da Fundação de Amparo
          à Pesquisa do Estado de Alagoas. Tem a coparticipação do Sindicato dos Jornalistas Profissionais de Alagoas (Sindjornal) e
          conta com o patrocínio do Condomínio Maceió Shopping.
        </p>

        <p>
          O Prêmio José Marques de Melo de Jornalismo em Ciência, Tecnologia e Inovação de Alagoas tem como objetivo sensibilizar e fomentar a
          produção jornalística de trabalhos que retratem a importância da ciência, tecnologia e inovação na sociedade e valorizar iniciativas
          nesta área. O fornecimento de instrumentos aos cidadãos para tomada de decisões em assuntos de interesse público é imprescindível, uma
          vez que o impacto da produção científica e tecnológica afeta diretamente às pessoas.
        </p>

      </div>
    </div>

  </div>
</section>