<section class="one-page-section section-grey" id="training">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <div class="section-title">
          <h1>Capacitação</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="pull-left">
        <time datetime="2014-11-17" class="icon">
          <em>Quarta</em>
          <strong>Janeiro</strong>
          <span>15</span>
        </time>
      </div>
      <div class="col-sm-10">
        <p><a href="#"><span>1° Capacitação em Jornalismo Científico</span></a> <br>
        <span>Local: Kinoplex - Maceió Shopping</span></p>
      </div>
    </div>
    <div class="row">
      <div class="pull-left">
        <time datetime="2014-11-17" class="icon">
          <em>xxxxxx</em>
          <strong>xxxxxxxxx</strong>
          <span>xx</span>
        </time>
      </div>
      <div class="col-sm-10">
        <p><a href="#"><span>2° Capacitação em Jornalismo Científico</span></a> <br>
          <span>Local: Kinoplex - Maceió Shopping</span></p>
      </div>
    </div>
  </div>
</section>