<section class="one-page-section section-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <h1>Realização</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-11">
        <div class="col-md-5">
          <img src="/images/secti.png" alt="Secretaria da ciência, tecnologia e inovação">
        </div>
        <div class="col-md-5">
          <img src="/images/maceio-shopping.png" alt="Maceió Shopping">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11">
        <div class="col-md-offset-1 col-md-5">
          <img src="/images/fapel.png" alt="FAPEAL">
        </div>
        <div class="col-md-5">
          <img src="/images/sindjornal.png" alt="Maceió Shopping">
        </div>
      </div>
    </div>
  </div>
</section>