<section class="one-page-section registration" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1 text-justify">
        <div class="section-title">
          <h1>Capacitação</h1>
        </div>
        <% if @training == "1" %>
            <p>
              A Secretaria de Estado da Ciência, Tecnologia e Inovação (Secti), em parceria com a Fundação de Amparo à Pesquisa de Alagoas (Fapeal), o Maceió Shopping e o Sindicato dos Jornalistas de Alagoas (SindJornal) promoveram gratuitamente o Curso de Capacitação em Jornalismo Científico no dia 26 de novembro de 2016 no cinema Kinoplex do Maceió Shopping.
            </p>
            <p>
              A programação contou com as palestras da professora da Universidade Federal de Alagoas (Ufal), Sandra Nunes Leite, que abordou o tema “A inovação científica e o trabalho de circulação midiática”, da professora do Instituto Federal de Alagoas (Ifal), Rossana Gaia, trazendo o tema “Estrutura da notícia científica” e do jornalista Pedro Rocha que explanou sobre “Jornalismo Científico em Alagoas”.
            </p>

            <p>
              Participaram da capacitação, estudantes e profissionais de jornalismo. O curso faz parte da preparação para o Prêmio de Jornalismo Científico José Marques de Melo, que já está com as inscrições abertas até o dia 31 de maio de 2017.
            </p>

            <p>
              Nesta primeira edição, o prêmio conta com oito categorias: jornalismo impresso texto, reportagem de TV, radiojornalismo, webjornalismo, jornalismo impresso imagem, reportagem cinematográfica, estudante e reportagem especial do Bicentenário de Alagoas. A premiação é de R$ 4 mil ao vencedor, nas categorias TV e bicentenário e nas demais categorias, a premiação é de R$ 3 mil para o primeiro colocado, R$ 2,5 mil para o segundo e R$ 1,5 mil para o terceiro. Além disso, tem a categoria estudante com R$ 1mil de premiação.
            </p>
        <% else %>
        <% end %>
      </div>
    </div>

  </div>
</section>
