<nav id="main-nav" class="navbar navbar-default navbar-fixed-top navbar-pages">
    <div class="container-fluid">

        <a href="/" class="navbar-brand navbar-show">
            <img src="/images/logo.svg" alt="Logo" width="200px">
        </a>

        <div class="collapse navbar-collapse">
            <ul id="menu" class="nav navbar-nav navbar-right">
                <li><a href="<%= admin_users_path %>" class="page-scroll"><span>Usuários</span></a></li>
                <li><a href="<%= admin_newsletters_path %>" class="page-scroll"><span>Newsletter</span></a></li>
            </ul>
        </div>
    </div>

</nav>