<nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      LOGO
    </div>

    <div class="collapse navbar-collapse">
      <ul id="menu" class="nav navbar-nav navbar-right">
        <li><a href="#" class="page-scroll"><i class="icon icon-premio"></i><span> O Prêmio</span></a></li>
        <li><a href="#" class="page-scroll"><i class="icon icon-categoria"></i><span> Categorias</span></a></li>
        <li><a href="#" class="page-scroll"><i class="icon icon-regulamento"></i><span> Regulamento</span></a></li>
        <li><a href="#" class="page-scroll"><i class="icon icon-premiacao"></i><span> Premiação</span></a></li>
        <li><a href="#" class="page-scroll"><i class="icon icon-realizacao"></i><span> Realização</span></a></li>
      </ul>
    </div>
  </div>

</nav>