<nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!--<img src="/images/logo.svg" alt="Logo" height="75px">-->
    </div>

    <div class="collapse navbar-collapse">
      <ul id="menu" class="nav navbar-nav navbar-right">
        <li><a href="#" class="page-scroll"><span> O Prêmio</span></a></li>
        <li><a href="#" class="page-scroll"><span> Categorias</span></a></li>
        <li><a href="#" class="page-scroll"><span> Regulamento</span></a></li>
        <li><a href="#" class="page-scroll"><span> Premiação</span></a></li>
        <li><a href="#" class="page-scroll"><span> Realização</span></a></li>
      </ul>
    </div>
  </div>

</nav>