<nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <a href="/" class="navbar-brand">
      <img src="/images/logo.svg" alt="Logo" width="200px">
    </a>

    <div class="collapse navbar-collapse">
      <ul id="menu" class="nav navbar-nav navbar-right">
        <li><a href="#about" class="page-scroll"><span> O Prêmio</span></a></li>
        <li><a href="#honored" class="page-scroll"><span> O Homenageado</span></a></li>
        <li><a href="#categories" class="page-scroll"><span> Categorias</span></a></li>
        <li><a href="#" class="page-scroll"><span> Regulamento</span></a></li>
        <li><a href="#awards" class="page-scroll"><span> Premiação</span></a></li>
        <li><a href="#who-does" class="page-scroll"><span> Realização</span></a></li>
      </ul>
    </div>
  </div>

</nav>