<nav id="main-nav" class="navbar navbar-default navbar-fixed-top navbar-pages">
  <div class="container-fluid">

    <a href="/" class="navbar-brand navbar-show">
      <img src="/images/logo.svg" alt="Logo" width="200px">
    </a>

    <div class="collapse navbar-collapse">
      <ul id="menu" class="nav navbar-nav navbar-right">
        <li><a href="<%= sindjornal_journalists_path %>" class="page-scroll"><span> Jornalistas</span></a></li>
      </ul>
    </div>
  </div>

</nav>